<div class="row">
  <div class="large-6 columns large-centered">
    <input type="search" ng-model="searchField" />
    <div class="artistas">
      <!-- {{artists}} -->
      <ul class="no-bullet">
        <li ng-repeat="artist in artists | limitTo : 15">
          <a href="#/artista/{{artist.mbid}}/view" class="th">
            <img ng-src="{{artist.image[1]['#text']}}" alt="" />
          </a>
          <h5><a href="#/artista/{{artist.mbid}}/view">{{artist.name}}</a></h5>
        </li>
      </ul>
    </div>
  </div>
</div>
